:root {
    --pico-font-size: 100%;
}

body > main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 5fr;
    column-gap: 5rem;
}

@media only screen and (max-width: 720px) {
  body > main {
    grid-template-columns: 1fr;
  }
}

summary {
    font-weight: bold;
}

details {
    margin-bottom: 2rem;
}

details ul > li {
    padding-left: 1rem;
    padding-bottom: 0.125rem;;
}

details li ul > li {
    padding-left: 2rem;
}

details ul li > summary {
    font-weight: unset;
}

nav details.dropdown {
    margin-bottom: 2rem;
}

aside > nav {
    position: sticky;
    top: calc(var(--pico-spacing) * 2);
}

path {
    fill: black;
}

@media (prefers-color-scheme: dark) {
    path { fill: white; }
}

hgroup p:has(ins) {
    margin-top: 0.5rem;
}
